
    {% set user_timezone = "UTC" %}
   
    <style type="text/css">
.first_block_bg_t{background:url("https://staging-beta.qsleap.com/images/header_img.jpg") center no-repeat;background-size:cover}
.jcf-select .jcf-select-opener{background-image:url("https://staging-beta.qsleap.com/images/down_arrow.png")!important;background-repeat:no-repeat!important;background-position:center!important;position:absolute!important;text-align:center!important;width:45px!important;bottom:0!important;right:0!important;top:0!important;background-color:#fff!important}
.jcf-select.jcf-drop-active .jcf-select-opener{background:url("https://staging-beta.qsleap.com/images/tm-carret-up-dark.png") no-repeat 25px 15px!important}
.card-container{-webkit-perspective:800px;-moz-perspective:800px;-o-perspective:800px;perspective:800px;margin-bottom:10px}
.card-container:not(.manual-flip):hover .card,.card-container.hover.manual-flip .card{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg)}
.card-container.static:hover .card,.card-container.static.hover .card{-webkit-transform:none;-moz-transform:none;-o-transform:none;transform:none}
.card{-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;-o-transition:-o-transform .5s;transition:transform .5s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d;position:relative}
.front,.back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:0;left:0;background-color:#FFF;box-shadow:0 1px 3px 0 rgba(0,0,0,0.14)}
.front{z-index:2}
.back{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);z-index:3}
.back .btn-simple{position:absolute;left:0;bottom:4px}
.card{background:none repeat scroll 0 0 #FFF;border-radius:4px;color:#444}
.card-container,.front,.back{width:100%;height:255px;border-radius:4px;-webkit-box-shadow:0 0 19px 0 rgba(0,0,0,0.16);-moz-box-shadow:0 0 19px 0 rgba(0,0,0,0.16);box-shadow:0 0 19px 0 rgba(0,0,0,0.16)}
.card .cover{height:80px;overflow:hidden;border-radius:4px 4px 0 0;background-size:cover;background-repeat:no-repeat}
.card .cover img{width:100%}
.card .user{border-radius:50%;display:block;height:120px;margin:-55px auto 0;overflow:hidden;width:120px}
.card .user img{background:none repeat scroll 0 0 #FFF;border:4px solid #FFF;width:100%}
.card .content{background-color:rgba(0,0,0,0);box-shadow:none;padding:10px 5px 5px}
.card .content .main{min-height:100px;text-align:center}
.card .back .content .main{height:215px}
.card .name{font-size:14px;line-height:20px;margin:5px 0 0;text-align:center;text-transform:capitalize;color:#248ecd;height:60px;font-weight:700;overflow:hidden;margin-bottom:5px}
.card h5{margin:5px 0;font-weight:400;line-height:20px}
.card .profession{color:#999;text-align:center;margin-bottom:5px;font-size:10px}
.card .footer{color:#999;margin:0;padding:0;text-align:center}
.card .footer .social-links{font-size:18px}
.card .footer .social-links a{margin:0 7px}
.card .footer .btn-simple{margin-top:-6px}
.card .header{padding:2px 10px;height:45px}
.card .motto{border-bottom:1px solid #EEE;color:#999;font-size:10px;font-weight:400;padding-bottom:0;text-align:center}
.card .stats-container{width:100%;margin-top:0;position:absolute;bottom:40px;left:0}
.card .stats{display:block;float:left;width:33.333333%;text-align:center}
.card .stats:first-child{border-right:1px solid #EEE}
.card .stats:last-child{border-left:1px solid #EEE}
.card .stats h4{font-weight:300;margin-bottom:5px;color:#248ecc}
.card .stats p{color:#777;font-size:10px}
._modx_qs_stamp_title{color:#506A85;text-align:center;font-weight:300;font-size:44px;margin-bottom:90px;line-height:90%}
._modx_qs_stamp_title small{font-size:17px;color:#999;text-transform:uppercase;margin:0}
.space-30{height:30px;display:block}
.space-50{height:50px;display:block}
.space-200{height:200px;display:block}
.white-board{background-color:#FFF;min-height:200px;padding:60px 60px 20px}
.ct-heart{color:#F74933}
pre.prettyprint{background-color:#fff;border:1px solid #999;margin-top:20px;padding:20px;text-align:left}
.atv,.str{color:#05AE0E}
.tag,.pln,.kwd{color:#3472F7}
.atn{color:#2C93FF}
.pln{color:#333}
.com{color:#999}
.btn-simple{opacity:.8;color:#666;background-color:transparent}
.btn-simple:hover,.btn-simple:focus{background-color:transparent;box-shadow:none;opacity:1}
.btn-simple,.btn-simple i{font-size:12px}
.navbar-brand-logo{padding:0}
.navbar-brand-logo .logo{border:1px solid #333;border-radius:50%;float:left;overflow:hidden;width:60px}
.newwebinar span{float:right;margin-left:60px;margin-bottom:40px}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
.front,.back{-ms-backface-visibility:visible;backface-visibility:visible}
.back{visibility:hidden;-ms-transition:all .2s cubic-bezier(.92,.01,.83,.67)}
.front{z-index:4}
.card-container:not(.manual-flip):hover .back,.card-container.manual-flip.hover .back{z-index:5;visibility:visible}
}
._modx_qs_mobile_filters_btn{display:none}

/*@media (max-width: 768px) {*/
@media screen and (max-width: 768px) {

/*.container.modx_padding {width: 100% !important;max-width: 100% !important;}*/
}




.btn.dropdown-toggle{border:1px solid #adadad!important}
    </style>

   
    <section id="evaluation-application" class="newhome-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
					{% if( sitename == 'topmba' ) %}
						<h2 class="text-center">Upcoming & Ready-To-Access MBA Webinars</h2>
					{% else %}
						<h2 class="text-center">Upcoming & Ready-To-Access University Webinars</h2>
					{% endif %}
                    
                </div>
            </div>
        </div>
    </section>

    <div class="container modx_padding" style="min-height:300px;">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="element_one" style="padding-left: 15px;padding-right: 15px;">
            
				<br />
				<!-- 
                <div class="_modx_qs_mobile_filters_btn _js_filter_div _js_filter" onclick="_modx_qs_show_filters('show');">
                    <button> <i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
                </div>

                <div class="_modx_qs_mobile_filters_btn _js_filter_div _js_apply hidden" onclick="_modx_qs_show_filters('hide');">
                    <button> <i class="fa fa-check-square-o" aria-hidden="true"></i> Apply</button>
                </div>

                <div class="row _modx_qs_mobile_filters" style="margin-bottom: 10px;">
                    <div class="pull-right visible-xs">
                        <span onclick="_modx_qs_show_filters('hide');" style="position: relative;right: 15px;top: 5px;font-size: 20px;color: #5c8abb;"><i class="fa fa-window-close" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="btn-group _modx_qs_radio_btn" data-toggle="buttons" style="margin-top: -10px;">
                            <label class="btn  "  style="margin-right: 0px;margin-left: 0px">
                                <input type="checkbox" class="_modx_qs_send_types" id='webinar_flag' name="webinar_flag" value="1" >
                                <span onclick="changefilter1(1)">
                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    Upcoming LIVE Webinars</span>
                            </label>
                            <label class="btn " style="margin-right: 0px;margin-left: 0px">
                                <input type="checkbox" class="_modx_qs_send_types" id='ondemand_flag'  name="ondemand_flag" value="1" >
                                <span onclick="changefilter1(2)">
                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                   On-Demand Webinars (Ready to access right now)</span>
                            </label>
                        </div>
                    </div>
                    <div class="border-bottom hidden-xs hidden-sm"></div>
                </div>
                
                -->

                <div class="row">
                    <div id="webinardiv">
                        {% if webinars %}
                        
							{% set t_zone = "UTC" %}
							{% set tz = 'UTC' %}

							{% set c1 = 0 %}
							{% set c2 = 0 %}

							{% for eve in webinars %}
                                {% if eve.onDemandFlag == 1 %}
									{% set c2 = c2 + 1 %}
                                {% else %}
									{% set c1 = c1 + 1 %}
                                {% endif %}
                            {% endfor %}

							{% if c1 != 0 %}
							<h3 style='margin-left: 15px;'>Upcoming LIVE Webinars</h3>
                            {% set countt = 0 %}
                            <section class="" id="">
                            {% for eve in webinars %}
                                {% if eve.onDemandFlag != 1 %}
                                    {% set countt = countt + 1 %}
                                    {% if( eve.webinarType != 'under' and sitename == 'topmba' ) %}
										<div class="col-md-4 col-sm-6 col-xs-6">
											{% include 'webinarstamp.html.twig' %}
										</div>
                                    {% endif %}
                                    {% if( eve.webinarType == 'under' and sitename != 'topmba' ) %}
										<div class="col-md-4 col-sm-6 col-xs-6">
											{% include 'webinarstamptu.html.twig' %}
										</div>
									{% endif %}
                                {% endif %}
                            {% endfor %}
                            </section>
                            {% if countt == 0 %}
                            <section class="col-md-12 col-xs-12  col-sm-12" id="">
                                <h1 style="font-size: 14px;font-stretch: normal;text-align: center;color: #606060;margin-top: 50px;">No Records Found! Try a different filter for more results.</h1>
                            </section>
                            {% endif %}

                            <br style='clear: both' />
                            <br />
                            <br />
                            <br />
                            {% endif %}

                            {% if c2 != 0 %}
                            <h3 style='margin-left: 15px;'>On-Demand Webinars</h3>
                            {% set countt = 0 %}
                            <section class="" id="">
                            {% for eve in webinars %}
                                {% if eve.onDemandFlag == '1' %}
                                    {% set countt = countt + 1 %}
                                    {% if( eve.webinarType != 'under' and sitename == 'topmba' ) %}
										<div class="col-md-4 col-sm-6 col-xs-6">
											{% include 'webinarstamp.html.twig' %}
										</div>
                                    {% endif %}
                                    {% if( eve.webinarType == 'under' and sitename != 'topmba' ) %}
										<div class="col-md-4 col-sm-6 col-xs-6">
											{% include 'webinarstamptu.html.twig' %}
										</div>
									{% endif %}
                                {% endif %}
                            {% endfor %}
                            </section>
                            {% if countt == 0 %}
                            <section class="col-md-12 col-xs-12  col-sm-12" id="">
                                <h1 style="font-size: 14px;font-stretch: normal;text-align: center;color: #606060;margin-top: 50px;">No Records Found! Try a different filter for more results.</h1>
                            </section>
                            {% endif %}
                            {% endif %}

                            {% if c1 == 0 and c2 == 0 %}
                            <section class="col-md-12 col-xs-12  col-sm-12" id="">
                                <h1 style="font-size: 14px;font-stretch: normal;text-align: center;color: #606060;margin-top: 50px;">No Records Found! Try a different filter for more results.</h1>
                            </section>
                            {% endif %}

                        {% else %}
                        <section class="col-md-12 col-xs-12  col-sm-12" id="">
                            <h1 style="font-size: 14px;font-stretch: normal;text-align: center;color: #606060;margin-top: 50px;">No Records Found! Try a different filter for more results.</h1>
                        </section>
                        {% endif %}
                    </div>
                    <div class="loader text-center" style="clear:both;display:none;font-size:40px;padding-top: 1%;padding-bottom: 1%;">
                        <i class="fa fa-refresh glyphicon-refresh-animate" aria-hidden="true" style="color: #fcb131"></i>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12  text-center hidden">
                         <a onclick="return initial_stamp_load();" href="javascipt:void(0);" class="load_more_btn" style="padding:0px 15px 20px;text-align: center;font-size: 16px;font-weight:600;color: #fcb131">Load more</a>
                    </div>
                    <br style='clear:both;'/>
                </div>
            </div>
        </div>
    </div>
<!-- </div>
</div>
</div> -->


    <script type="text/javascript">

       
        $(document).ready(function() {
            var urlParams = new URLSearchParams(window.location.search);
            var filterExamIdMappings = {
                "gmat" : '1',
                "gre" : '2',
                "sat" : '3',
                "lsat" : '4',
                "cat" : '5'
            };
            if(urlParams.has('q')) {
                var qString = urlParams.get("q");
                var exam = urlParams.get("exam");
                var tutor = urlParams.get("tutor");
                var section = urlParams.get("section");
                if(qString == "webinar" && $('#webinar_flag').length > 0) {
                    $('#webinar_flag').next('span:first').trigger('click');
                }
                if(qString == "testprep" && $('#test_prep_flag').length > 0) {
                    $('#test_prep_flag').next('span:first').trigger('click');
                    if(exam != null && filterExamIdMappings[exam] != undefined) {
                        $('#exam_type').val(filterExamIdMappings[exam]).trigger('change');
                    }
                    if(tutor != null) {
                        $('#tutor_type').val(tutor).trigger('change');
                    }
                    //if(section != null) {
                    //    $('#section').val(section).trigger('change');
                    //}
                }
            }

             $('#thank_you_modal').on('shown.bs.modal', function (e) {
                if(_webinar_url != "") {
                    if(_type == 'other') {
                        var messageTxt = "Thank you for registering! <a href='"+_webinar_url+"' target='_blank'>Click here to join</a> the webinar. The link has also been sent to your registered e-mail id.";
                    } else {
						if(_exam_id == 5) {
							var messageTxt = "Thank you for registering for the prep-classroom supported by SDA Bocconi Asia Center. <a href='"+_webinar_url+"' target='_blank'>Click here to join</a> to join the prep-class. The link has also been sent to your registered e-mail id.";
						} else {
							var messageTxt = "Thank you for registering! <a href='"+_webinar_url+"' target='_blank'>Click here to join</a> the prep-class. The link has also been sent to your registered e-mail id.";
						}
                    }
                } else {
                    if(_type == 'other') {
                        var messageTxt = "Thank you for registering! The webinar link will be e-mailed to you 30 minutes before the start time.";
                    } else {
						if(_exam_id == 5) {
							var messageTxt = "Thank you for registering for the prep-classroom supported by SDA Bocconi Asia Center. The link will be e-mailed to you 30 minutes before the start time.";
						} else {
							var messageTxt = "Thank you for registering! The prep-classroom link will be e-mailed to you 30 minutes before the start time.";
						}

                    }
                }
                if(_ondemand == 1){
                    var messageTxt = "Thank you for registering for the webinar. You can click on the 'Play Webinar' on this page and access your chosen content right away. We have also sent an email to your inbox explaining the steps to access the webinar - should you wish to do it at a later time.";
                }
                $('#thank_you_modal').find('.modal-reg-message').html(messageTxt);
            });
        });

        var user_timezone = "UTC";

        function view_detail_webinar(webinar_id){
           
        }


        function changefilter(){
            var webinar_flag = 0;
            var ondemand_flag = 0;

            if($('#webinar_flag').prop('checked')) {
                webinar_flag = 1;
            }

            if($('#ondemand_flag').prop('checked')) {
                ondemand_flag = 1;
            }

            $("#webinardiv").html("");
            $(".loader").css("display","block");

            
        }

        function changefilter1(numm) {
            if(numm == 1) {
                if($('#webinar_flag').prop('checked')) {
                    $('#webinar_flag').prop('checked',false);
                } else {
                    $('#webinar_flag').prop('checked',true);
                }
            } else {
                if($('#ondemand_flag').prop('checked')) {
                    $('#ondemand_flag').prop('checked',false);
                } else {
                    $('#ondemand_flag').prop('checked',true);
                }
            }
            changefilter();

            return false;
        }


        var _reg_btn = null;
        var _reg_webinar_id = null;
        var _type = null;
        var _ondemand = null;
        var _webinar_title = "";
        var _exam_id = "";
        var _onDemandFlag = "";
        function register_webinar(dis, webinar_id, type, webinar_type, exam_id, webinar_title, onDemandFlag) {
            alert("Registration Pending");
            return false;
        }

        var _webinar_url = "";
        var _eventLabel = location.pathname;
        var _eventCategory = "WebinarRegistrationBackend - Login - Generic";
        function final_registration() {
            $(_reg_btn).html('<i class="fa fa-refresh glyphicon-refresh-animate" aria-hidden="true" style="color:#fff;"></i>');
            $.blockUI({ message: '<h4>Registering...</h4>' });
            
        }

        function checkMissingFields(type, webinar_type, exam_id) {
            return false;
        }

        function register_webinar1(webinar_id, type, webinar_title, onDemandFlag) {
            alert('Registration Pending');
           return false;
        }

        
        
        // {# $("#user_icon_not_login").attr("href", "?_rl=login&ucode=webinar_{{_exam_slug}}_0" ); #}

        // var btnn1 = $(".join_now_btn_hp");
        // {# var jsss = "window.open('/app/register?ucode=webinar_{{_exam_slug}}_0', '_self');"; #}
        // var newclickkk = new Function(jsss);
        // btnn1.attr('onclick', '').click(newclickkk);

        function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        //console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }


    }

    function _modx_qs_show_filters(showhide){
        if(showhide =='show'){
            $('._modx_qs_mobile_filters').show();
            $('._js_filter').addClass('hidden');
            $('._js_apply').removeClass('hidden');
        }

        if(showhide =='hide'){
            $('._modx_qs_mobile_filters').hide();
            $('._js_filter').removeClass('hidden');
            $('._js_apply').addClass('hidden');
        }
    }

    $( window ).scroll(function() {
      photo = $('#webinardiv');
      offset = photo.offset();
      photoViewportOffsetTop = offset.top - $(document).scrollTop();

      if( $( window ).width() < 768 ){
         if(photoViewportOffsetTop < 300){
            $('._js_filter_div').fadeIn();
          }else{
            $('._js_filter_div').fadeOut();
          }
      }
    });

     function gotourldiv(getidname) {
        if($("#"+getidname).length == 0) {
            $('html, body').animate({
                scrollTop: $("."+getidname+":visible").offset().top -100
            }, 1000);
        } else {
            $('html, body').animate({
                scrollTop: $("#"+getidname).offset().top -100
            }, 1000);
        }
    }
    
    function _get_registerform() {
		alert("For Demo Purpose Only");
	}

</script>

