<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />    
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="
stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800" rel="stylesheet">
<style type="text/css">
/************** Webinar landing pages **************/
.landing-header-new{background-size:cover;background-repeat:no-repeat;background-position:center center;color:#fff;height:550px;margin-top:-20px;padding:50px 15px}
._modx_qs_extended_defined{padding-top:70px;padding-bottom:70px}
._modx_qs_defined_icons{margin-bottom:40px}
._modx_qs_defined_icons i{float:left;font-size:36px;height:100px;color:#757575}
._modx_qs_defined_icons .info{position:relative;left:25px;height:100px;padding-right:25px}
._modx_qs_defined_icons .info h3{font-size:16px;font-weight:600;line-height:1.25;letter-spacing:.3px;text-align:left;color:#175265;margin-bottom:5px}
._modx_qs_defined_icons .info p{font-family:Open Sans;font-size:12px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.71;letter-spacing:normal;color:#606060}
._modx_qs_defined_icons .testimonials{position:relative;left:25px;height:auto;padding-right:25px}
._modx_qs_defined_icons .testimonials h3{font-size:16px;font-weight:600;line-height:1.25;letter-spacing:.3px;text-align:left;color:#175265;margin-bottom:5px}
._modx_qs_defined_icons .testimonials p{font-family:Open Sans;font-size:12px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.71;letter-spacing:normal;color:#606060}
._modx_qs_defined_icons .profileimage{float:left}
._modx_qs_defined_icons img{height:40px;width:40px;border-radius:50%;border:1px solid #bdbdbc}
._modx_qs_defined_icons .icon_text h4{font-size:10px;margin-top:0;margin-bottom:5px;color:#777}
._modx_qs_webinar_extra_stamp{padding:10px;border:1px solid #bbb;box-shadow:none;margin-top:60px;background:#fff}
._modx_qs_webinar_extra_stamp .title h3{height:45px;font-family:Nunito;font-size:18px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;text-align:left;color:#248ecc;overflow:hidden;white-space:pre-wrap;margin-top:10px}
._modx_qs_webinar_extra_stamp ._modx_qs_round_time{margin-top:-60px}
._modx_qs_webinar_extra_stamp .host h4{height:38px;font-family:Nunito;font-size:14px;font-weight:300;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;text-align:left;color:#0f2740;white-space:initial;overflow:hidden}
._modx_qs_webinar_extra_stamp ._modx_qs_timings{font-size:12px}
._modx_qs_webinar_extra_stamp ._modx_qs_timings i{color:#248ecc}
._modx_qs_webinar_extra_stamp ._modx_qs_timings span{color:#0f2740}
._modx_qs_insti_gallery{background-size:cover;background-repeat:no-repeat;background-position:center center;height:120px;background-image:url(/images/v121color.jpg);cursor:pointer}
._webinar_institutes_gallery{margin-top:20px;margin-bottom:10px}
._modx_qs_m_wrap-container{width:100%;font-family:'Nunito','Open Sans',sans-serif}
.dxnew-container::-webkit-scrollbar{display:none}
.dxnew-container{width:100%;overflow:scroll;white-space:nowrap;overflow-y:hidden}
.xcnew-container-full{display:inline-block;cursor:pointer;width:250px;height:150px;background-repeat:no-repeat;background-size:cover!important;background-position:center center;margin-right:30px;border-radius:3px;-webkit-box-shadow:0 1px 10px 0 rgba(0,0,0,0.5);-moz-box-shadow:0 1px 10px 0 rgba(0,0,0,0.5);box-shadow:0 1px 10px 0 rgba(0,0,0,0.5);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.xcnew-container-full:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.dxnew-container .xcnew-container-full:first-child{margin-left:5px}
.dxnew-container .xcnew-container-full:last-child{margin-right:10px}
.dxnew-container_extra_stamp::-webkit-scrollbar{display:none}
.dxnew-container_extra_stamp{width:100%;overflow:scroll;white-space:nowrap;overflow-y:hidden}
.xcnew-container-full_extra_stamp{display:inline-block;cursor:pointer;width:230px;background-repeat:no-repeat;background-size:cover!important;background-position:center center;margin-right:20px;border-radius:3px}
.xcnew-container-full_extra_stamp._modx_qs_webinar_extra_stamp{height:auto}
.dxnew-container_extra_stamp .xcnew-container-full_extra_stamp:first-child{margin-left:10px}
.dxnew-container_extra_stamp .xcnew-container-full_extra_stamp:last-child{margin-right:10px}
.more-slider-blogs-small{position:relative;color:#e6e6e6;z-index:1;padding:10px;width:250px;padding-left:20px;padding-right:20px}
.carouselcontainer-controls ._modx_qs_pos{display:inline-block;position:relative;top:-110px;background:#fff;padding:4px 6px;border:1px solid #e9e9e9;font-size:15px;cursor:pointer;z-index:7}
.carouselcontainer-controls ._modx_qs_pos.right{right:-4px;padding:4px 6px}
.ekko-lightbox .modal-content{box-shadow:none!important;border:none!important;background:none!important;background-color:none!important}
._modx_qs_more_detail_icon{padding:20px;text-align:center;margin-bottom:10px;margin-top:5px}
._modx_qs_more_detail_icon ._modx_qs_info_icon{font-size:30px;background-color:#eee;height:60px;width:60px;border-radius:50%;text-align:center;display:inline-block;padding-top:8px;color:#757575}
._modx_qs_more_detail_icon ._modx_qs_info_icon img{width:35px}
._modx_qs_more_detail_icon ._modx_qs_info_text h3{font-family:Nunito;font-size:14px;font-weight:600;font-style:normal;font-stretch:normal;line-height:1.25;letter-spacing:.3px;text-align:center;color:#175265;height:35px;overflow:hidden;display:inline-block;width:110px}
._modx_qs_more_detail_icon ._modx_qs_info_text_more{margin-bottom:10px}
._modx_qs_more_detail_icon ._modx_qs_info_text_more p{font-size:12px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.71;letter-spacing:normal;color:#606060;text-align:center;width:185px;display:inline-block}
._modx_qs_filter_slider_img_video{margin-top:20px}
._modx_qs_filter_slider_img_video a{color:#606060;margin-right:10px;font-weight:300}
._modx_qs_filter_slider_img_video a.active{border-bottom:4px solid;padding-left:5px;padding-right:5px;color:#175265}
._modx_qs_video_overlay{margin-top:123px}
._modx_qs_video_overlay i{color:#fff;position:relative;top:-68px;font-size:30px;left:120px}
._modx_qs_webinar_information ._webinar_title{font-size:22px;color:#175265}
._modx_qs_webinar_information ._webinar_info{font-size:14px;font-weight:400;font-style:normal;font-stretch:normal;line-height:1.71;letter-spacing:normal;color:#606060}
._modx_qs_webinar_information ._webinar_info *{font-family:Open Sans!important;font-size:14px!important}
._webinar_info_style_back{padding:30px 10px 1px;background-color:rgba(216,216,216,0.18)}
._modx_qs_webinar_header ._modx_qs_webinar_host{margin-top:20px;font-family:Nunito;margin-bottom:25px}
._modx_qs_webinar_host h3{font-size:16px;font-weight:200;font-style:normal;font-stretch:normal;margin-top:0;margin-bottom:0;letter-spacing:normal}
._modx_qs_webinar_host h4{font-size:14px;font-weight:200;font-style:normal;font-stretch:normal;margin-top:0;margin-bottom:0;letter-spacing:normal}
._modx_qs_webinar_topic h1{font-family:Nunito;font-size:30px;font-weight:700;font-style:normal;font-stretch:normal;letter-spacing:normal}
._modx_qs_webinar_time i{color:#f9cb4d}
._modx_qs_webinar_time span{margin-right:20px}
._modx_qs_webinar_views span{background-color:rgba(249,203,77,0.48);border-radius:50%;padding:7px 6px 5px;margin-right:7px}
._modx_qs_webinar_views span>i{font-size:20px}
._modx_qs_register_fixed{position:fixed;bottom:0;background:#fff;padding:15px;width:100%;text-align:center;z-index:9;border-top:1px solid #eee;left:0}
._modx_qs_webinar_already_registered h1{font-size:28px;margin-bottom:0;margin-top:0}
._modx_qs_webinar_already_registered i{color:#1db42f}
._tutor_history *{font-family:Open Sans!important;font-size:14px!important}
._tutor_history{margin-left:40px}
._modx_qs_round_time ._modx_qs_month_year{margin-top:0;margin-bottom:0;text-align:center;font-size:14px}
._modx_qs_round_time_2 ._modx_qs_month_year{margin-top:0;margin-bottom:0;text-align:center;font-size:14px}
._modx_qs_webinar_extra_stamp ._modx_qs_round_time{margin-top:-60px}
._modx_qs_live_classes_stamp{border:1px solid #bbb;margin-bottom:30px}
._modx_qs_live_classes_stamp ._modx_qs_header{height:195px;background-size:cover;background-repeat:no-repeat;background-position:center center;padding:17px 24px;background-color:#303030}
._modx_qs_live_classes_stamp ._modx_qs_header h3{margin-top:0;margin-bottom:0;color:#fff;font-size:20px;font-weight:400;height:44px;overflow:hidden;position:relative;z-index:1}
._modx_qs_live_classes_stamp ._modx_qs_stamp_main{padding:40px 24px 17px;background-color:#fff}
._modx_qs_round_time{height:100px;width:100px;border:5px solid #fff;color:#fff;border-radius:50%;background-color:#248ecc}
._modx_qs_live_classes_stamp ._modx_qs_round_time{position:absolute;right:27px;top:120px;z-index:1}
._modx_qs_round_time ._modx_qs_date{margin-top:8px;margin-bottom:0;text-align:center;font-family:Nunito Sans;font-size:36px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal}
._modx_qs_round_time ._modx_qs_month_year{margin-top:0;margin-bottom:0;text-align:center;font-size:14px}
._modx_qs_webinar_type_2{position:relative}
._modx_qs_webinar_type_2 span{height:50px;width:50px;color:#fff;display:inline-block;text-align:center;border-radius:50%;font-size:24px;padding-top:8px;margin-right:10px}
._modx_qs_webinar_type_2 .testprep{background:rgba(126,211,33,0.53)}
._modx_qs_live_classes_stamp ._modx_qs_round_time_2{position:relative;left:160px;top:20px;z-index:1}
._modx_qs_round_time_2{height:100px;width:100px;border:5px solid #fff;color:#fff;border-radius:50%;background-color:#248ecc}
._modx_qs_round_time_2 ._modx_qs_date{margin-top:8px;margin-bottom:0;text-align:center;font-family:Nunito Sans;font-size:36px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal}
._modx_qs_round_time_2 ._modx_qs_month_year{margin-top:0;margin-bottom:0;text-align:center;font-size:14px}
._modx_qs_live_classes_stamp ._modx_qs_stamp_main ._modx_qs_tutor_name p,._modx_qs_live_classes_stamp ._modx_qs_stamp_main ._modx_qs_tutor_name a{font-size:16px;font-weight:300;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;text-align:left;color:#0f2740}
._modx_qs_live_classes_stamp ._modx_qs_stamp_main ._modx_qs_tutor_name{margin-bottom:15px;height:24px;overflow:hidden}
._modx_qs_webinar_type{position:absolute;top:100px;z-index:1;font-size:14px;font-weight:100}
._modx_qs_webinar_type span{height:50px;width:50px;color:#fff;display:inline-block;text-align:center;border-radius:50%;font-size:24px;padding-top:8px;margin-right:10px}
._modx_qs_webinar_type .testprep{background:rgba(126,211,33,0.53)}
._modx_qs_webinar_type .nontestprep{background:rgba(248,231,28,0.53)}
._modx_qs_stamp_main ._modx_qs_timings {font-size:14px}
._modx_qs_stamp_main ._modx_qs_timings p{margin-bottom:7px}
._modx_qs_stamp_main ._modx_qs_timings i{color:#248ecc}
._modx_qs_stamp_main ._modx_qs_timings span{margin-left:8px;font-weight:400}
._modx_qs_stamp_main ._modx_qs_info{height:60px;overflow:hidden;margin-top:12px}
._modx_qs_stamp_main ._modx_qs_info p{font-family:Nunito Sans;font-size:14px;font-weight:300;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#0d253e;white-space:initial}
._modx_qs_stamp_main ._modx_qs_actions{margin-top:10px;margin-bottom:0}
._modx_hover-overlay-blue{background:rgba(36,142,204,0.50);position:absolute;height:196px;width:calc(100% - 30px);left:15px;display:block;top:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;opacity:0}
._modx_qs_live_classes_stamp:hover ._modx_hover-overlay-blue{opacity:1}
.border-bottom{border-bottom:solid 2px #979797;margin-bottom:30px;width:calc(100% - 30px);margin-left:15px;display:inline-block}
._modx_qs_radio_btn label.btn span{font-family:'Open Sans',sans-serif;font-size:14px;font-weight:100;line-height:1.71;text-align:left;color:#606060}
._modx_qs_radio_btn label.btn span .fa{font-size:32px;position:relative;top:7px;color:#b5b5b5;margin-right:5px}
._modx_qs_radio_btn label.btn.active span{color:#5dabcb}
._modx_qs_radio_btn label.btn.active span .fa{color:#5dabcb}
._modx_qs_radio_btn label input[type="radio"]~i.fa.fa-circle-o{color:#c8c8c8;display:inline;display:none}
._modx_qs_radio_btn label input[type="radio"]:checked~i.fa.fa-circle-o{display:none}
._modx_qs_radio_btn label:hover input[type="radio"]~i.fa{color:#5dabcb}
._modx_qs_radio_btn .fa-check-circle{display:none}
._modx_qs_radio_btn .fa-circle-o{display:inline}
._modx_qs_radio_btn .active .fa-check-circle{display:inline}
._modx_qs_radio_btn .active .fa-circle-o{display:none}
div[data-toggle="buttons"] label{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:2em;text-align:left;white-space:nowrap;vertical-align:top;cursor:pointer;background-color:none;border:0 solid #606060;border-radius:3px;color:#606060;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;padding-left:0}
div[data-toggle="buttons"] label:hover{color:#5dabcb}
div[data-toggle="buttons"] label,div[data-toggle="buttons"] label:active,div[data-toggle="buttons"] label.active{-webkit-box-shadow:none;box-shadow:none;outline:none!important;margin-right:10px}
.newhome-services h2{font-family:nunito sans,sans-serif;font-size:28px;font-weight:300}
._modx_qs_radio_btn label.btn span{size:14px;font-weight:100;line-height:1.71;text-align:left}
._modx_qs_body ._modx_qs_program_name{color:#00304c;font-weight:700;font-size:15px;margin-bottom:0;height:40px;overflow:hidden}
._modx_qs_body ._modx_qs_location{font-size:12px;color:#777;margin-bottom:0}
/****************** CSS for radio buttons ends *******************/
button.btn.new-brand-btn-plain._modx_qs_xs_btn.pull-right {
    border-radius: 2px;
    border: solid 1px transparent;
    background-color: #36bb1c;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    padding: 5px 15px;}

@media screen and (max-width: 992px) {  
.container {width: 100%;} 
._modx_qs_round_time ._modx_qs_date{font-size:12px!important;padding-top:2px}
._modx_qs_round_time ._modx_qs_month_year{font-size:10px!important}
._modx_qs_round_time{height:55px!important;width:55px!important;border:1px solid #fff!important}
#webinardiv .col-xs-6{padding-left: 5px!important;padding-right: 5px!important;}
.center-block.has-feedback-right{margin-bottom:25px}
._modx_qs_mobile_filters{margin-bottom:10px;position:fixed;top:112px;background:#fff;width:100%;z-index:10;height:100%;padding-top:30px;display:none}
._modx_qs_mobile_filters_btn{position:fixed;bottom:0;width:100%;text-align:center;left:0;z-index:1000;background-color:#fff;padding:10px;border:1px solid #eee;display:none}
.newwebinar span{float:none;text-align:center;display:block;margin-left:0}

}


</style>




<div class="_modx_qs_live_classes_stamp hidden-xs">
    <div class="_modx_qs_header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url( {% if eve.image != '' %}{{eve.image}}{% else %}https://staging-beta.qsleap.com/images/tutor.jpg{%endif%});">
        <h3>{{eve.title}}</h3>

        <div class="_modx_qs_webinar_type">
			<span class="nontestprep" style="padding-top: 11px;"><i class="fa fa-desktop" aria-hidden="true"></i></span>
        </div>
        <div class="_modx_qs_round_time">
            {% if eve.onDemandFlag != 1 %}
                <p class="_modx_qs_date">{{date(eve.datetime.date)|date("d",false)}}</p>
                <p class="_modx_qs_month_year">{{date(eve.datetime.date)|date("M",false)}}' {{date(eve.datetime.date)|date("Y",false)}}</p>
            {% else %}
                <p class="_modx_qs_month_year" style="padding-top:25px;">On Demand Webinar</p>
            {% endif %}
        </div>
        <div class="_modx_hover-overlay-blue"> </div>
    </div>

    <div class="_modx_qs_stamp_main">
        <div class="_modx_qs_body">
            <div class="_modx_qs_tutor_name">
                <p>By. {{eve.hostName}}
                    {% if eve.host2Name != "" %}
                        & {{eve.host2Name}}
                    {% endif %}</p>
            </div>

            <div class="_modx_qs_timings">
                {% if eve.onDemandFlag != 1 %}
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i> <span>{{ date(eve.datetime.date)|date('h:i A',false) }} (UTC)</span> </p>
                {% else %}
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i> <span>On Demand Webinar</span> </p>
                {% endif %}
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>
                    {% set duration = eve.duration %}
                    {% if(duration >= 60) %}
                        {% set hour = (duration / 60)|round(0,"floor") %}
                        {{ hour }}
                        {% if (hour > 1) %}
                            Hours
                        {%else%}
                            Hour
                        {% endif %}
                    {% endif %}

                    {% if(duration % 60 != 0 ) %}
                        {% set minute = duration % 60 %}
                        {{ minute }}
                        {% if(minute > 1) %}
                            Minutes
                        {% else %}
                            Minute
                        {% endif %}
                    {% endif %}
                </span></p>
            </div>

            <div class="_modx_qs_info">
                <p>{% if eve.description|striptags|length < 125 %}
                    {{eve.description|striptags|raw}}
                    {% else %}
                        {{eve.description|striptags[0:125]|raw}}...
                    {% endif %}</p>
            </div>
        </div>

        <div class="_modx_qs_actions">
			<a href="{{ path('modxtest.webinarsinglepage', {'slug': eve.slug }) }}" class="_any_href_link">View Details</a>
            <button class="btn new-brand-btn-plain _modx_qs_xs_btn pull-right" onclick="_get_registerform();">Register</button>
        </div>
    </div>
</div>

<div class="card-container manual-flip visible-xs">
    <div class="card">
        <div class="front">
            <div class="cover" style="background-image: url({% if eve.image != '' %}{{eve.image}}{% else %}https://staging-beta.qsleap.com/images/tutor.jpg{%endif%});">
            </div>

			<div class="_modx_qs_webinar_type " style="top: 5px;left: 5px">
				<span class="nontestprep" style="padding-top: 7px;width: 30px;height: 30px;font-size: 12px"><i class="fa fa-desktop" aria-hidden="true"></i></span>
            </div>

            {% if eve.onDemandFlag != 1 %}
            <div>
                <span style="font-size: 10px;position: absolute;top: 62px;background: #248ecd;padding: 2px 8px 2px 8px;color: #fff;"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ date(eve.datetime.date)|date('h:i A',false) }} (UTC)</span>
            </div>
            {% endif %}

            <div class="_modx_qs_round_time" style="text-align: center;position: absolute;top: 5px;right: 5px;">
                {% if eve.onDemandFlag != 1 %}
                    <p class="_modx_qs_date">{{date(eve.datetime.date)|date("d",false)}}</p>
                    <p class="_modx_qs_month_year">{{date(eve.datetime.date)|date("M",false)}}' {{date(eve.datetime.date)|date("Y",false)}}</p>
                {% else %}
                    <p class="_modx_qs_month_year" style="padding-top:5px;">On Demand Webinar</p>
                {% endif %}
            </div>
            <div class="content">
                <div class="main">
                    <h3 class="name">{{eve.title}}</h3>
                    <p class="profession">By:</p>
                    <p class="text-center" style="height: 30px;overflow: hidden;font-size: 10px">
                        {{eve.hostName}}
                        {% if eve.host2Name != "" %}
                            & {{eve.host2Name}}
                        {% endif %}</p>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" onclick="rotateCard(this)">
                        <i class="fa fa-mail-forward"></i> View Details
                    </button>
                </div>
            </div>
        </div> <!-- end front panel -->
        <div class="back">
            <div class="header">
                <h5 class="motto">{{eve.title}}</h5>
            </div>
            <div class="content">
                <div class="main">
                    <p class="text-center" style="font-size: 12px;height: 70px;overflow: hidden;">
                        {% if eve.description|striptags|length < 150 %}
                            {{eve.description|striptags|raw}}
                        {% else %}
                            {{eve.description|striptags[0:150]|raw}}...
                        {% endif %}
                    </p>

                    <p> <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {% set duration = eve.duration %}
                        {% if(duration >= 60) %}
                            {% set hour = (duration / 60)|round(0,"floor") %}
                            {{ hour }}
                            {% if (hour > 1) %}
                                Hours
                            {%else%}
                                Hour
                            {% endif %}
                        {% endif %}

                        {% if(duration % 60 != 0 ) %}
                            {% set minute = duration % 60 %}
                            {{ minute }}
                            {% if(minute > 1) %}
                                Minutes
                            {% else %}
                                Minute
                            {% endif %}
                        {% endif %}
                    </p>

                    <div class="stats-container hidden">
                        <div class="stats">
                            <h4><i class="fa fa-calendar-o" aria-hidden="true"></i></h4>
                            <p>
                                {{ date(eve.datetime.date)|date('h:i A',false) }} (UTC)
                            </p>
                        </div>
                        <div class="stats">
                            <h4><i class="fa fa-clock-o" aria-hidden="true"></i></h4>
                            <p>
                                {% set duration = eve.duration %}
                                {% if(duration >= 60) %}
                                    {% set hour = (duration / 60)|round(0,"floor") %}
                                    {{ hour }}
                                    {% if (hour > 1) %}
                                        Hours
                                    {%else%}
                                        Hour
                                    {% endif %}
                                {% endif %}

                                {% if(duration % 60 != 0 ) %}
                                    {% set minute = duration % 60 %}
                                    {{ minute }}
                                    {% if(minute > 1) %}
                                        Minutes
                                    {% else %}
                                        Minute
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                        <div class="stats">
							<h4><i class="fa fa-desktop" aria-hidden="true"></i></h4>
                            <p>Webinar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)" style="position: absolute;width: 100%;">
                    <i class="fa fa-reply"></i> Back
                </button>

                <div style="position: absolute;bottom: 35px;width: 100%;text-align: center;left: 0px;">
                    <button class="btn pull-right yellow_btn tutor_package_btn_common" id='webinar_reg_{{eve.id}}' onclick="register_webinar(this, {{eve.id}});">Register</button>
                </div>
            </div>
        </div> <!-- end back panel -->
    </div> <!-- end card -->
</div> <!-- end card-container -->
